*.ilk
*.suo
*.user
*.o
*.temp
*.bootstrap.digests
*.log
*.exp
*.vssettings
*.exportlog
*.mayaSwatches
*.ma.swatches
*.dds
*.bak
*.bak2
/Solutions*
/BinTemp*
*.options
*.pyc
*.db
/Cache*
/AssetProcessor_tmp.exe*
/Builders_Temp*
/Bin64vc*
#StarterGame folder ignores
/StarterGame/*.dds*
/StarterGame/*.caf*
/StarterGame/*.bak*
#/StarterGame/*.pak*
#Code/StarterGame
/Code/StarterGame/*.opensdf*
/Code/StarterGame/*.sdf*
/Code/StarterGame/*.user*
/Code/StarterGame/ipch*
#Code/CloudGemSamples
/Code/CloudGemSamples/*.opensdf*
/Code/CloudGemSamples/*.sdf*
/Code/CloudGemSamples/*.user*
/Code/CloudGemSamples/ipch*
#Code/FeatureTests
/Code/FeatureTests/*.opensdf*
/Code/FeatureTests/*.sdf*
/Code/FeatureTests/*.user*
/Code/FeatureTests/ipch*
#Code/Framework/AzCore
/Code/Framework/AzCore/*.xml
#Code/Tools
/Code/Tools/SDKs*
#Code/SamplesProject
/Code/SamplesProject/*.opensdf*
/Code/SamplesProject/*.sdf*
/Code/SamplesProject/*.user*
/Code/SamplesProject/ipch*
#Code/NetworkFeatureTest
/Code/NetworkFeatureTest/*.opensdf*
/Code/NetworkFeatureTest/*.sdf*
/Code/NetworkFeatureTest/*.user*
/Code/NetworkFeatureTest/ipch*

#MultiplayerSample
/MultiplayerSample/*.dds*
/MultiplayerSample/*.caf*
/MultiplayerSample/*.$animsettings*
/MultiplayerSample/*.bak*
#/MultiplayerSample/*.pak*

#SamplesProject
/SamplesProject/*.dds*
/SamplesProject/*.caf*
/SamplesProject/*.$animsettings*
/SamplesProject/*.bak*
/SamplesProject/_source*
/SamplesProject/*.sdf*
/SamplesProject/ipch*

#CloudGemSamples
/CloudGemSamples/*.dds*
/CloudGemSamples/*.caf*
/CloudGemSamples/*.$animsettings*
/CloudGemSamples/*.bak*
#/CloudGemSamples/*.pak*
/CloudGemSamples/_source*
/CloudGemSamples/*.sdf*
/CloudGemSamples/ipch*